/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.title-button {
    margin-top: 30px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}